@import url(/timeline.css);

body {
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Lobster', cursive;
	color:#black;
}

h2 {
	font-family: 'Open Sans', cursive;
	margin-bottom: 40px;
}

h3{
	font-family: 'Lobster', cursive;
	color :#bdc3c7;

}

.imgPerso{
	margin-top: 10px;
	margin-left: 10px;
}

.imgNav{
	width: 50px;
	border-radius: 50%;
}

.row{
	margin-bottom: 30px;
}

.tab{
	margin-left: 50px;
}

.header{
	border-radius: 30px;
	background-color: rgba(1,1,1,0.7); 
}

#photoPerso {
	border-radius: 50%;
	width : 100px;
}
#myHeader {
	text-align: center;
	padding-bottom: 100px;
	padding-top: 100px;
	color :white;
	background-image: url(image/keyboard.jpg);
}
.posFormation{
	margin-left: 250px;
	margin-bottom: 50px;
}

#myHeader p{
	font-family: 'Lobster', cursive;
	color:#ecf0f1;
}

.feature {
	font-weight: : 300;
}

#myFooter{
	padding: 30px;
	background-color: #212121;
	color: lightgrey;

}

#myFooter a {
  color: lightgrey;
}
#myFooter a:hover {
  color: white;
}
#myHeader a{
	color: lightgrey;
}
#myHeader a:hover {
  color: white;
}

p{
	font-size : 16px;
}

img{
	width: 150px;
}
